# .github/workflows/metrics.yml
name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  # Activity image
  activity-metrics:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: CTAG07
          template: classic
          config_timezone: America/New_York
          filename: metrics.activity.svg
          
          base: activity, metadata
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

  # Stats image
  stats-metrics:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: CTAG07
          template: classic
          config_timezone: America/New_York
          filename: metrics.stats.svg
          
          base: header, community
